* {
    margin: 0;
    padding: 0;
    color: #40394A;
}

body {
    width: 100%;
    height: 100%;
}

label {
    margin: 20px;
}

.headline {
    margin-top: 80px;
}

.container {
    margin: 0;
    /* padding: 80px 50px; */
    /* padding: 50px; */
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.addTripContaier {
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addTripInput {
    padding: 0 20px;
    margin-bottom: 15px;
    width: 200px;
    min-height: 40px;
    border-radius: 2em;
    border: none;
    background-color: rgb(245,245,245);
    /* outline: none; */
}

input.addTripInput:focus {
    outline-width: 0;
    border: 2px #40394A solid ;
}

.optionContainer .highlight,
.optionContainer li:hover {
    background: #40394A;
    color: white;
    /* display: none; */
}

/* .optionContainer .highlight {
  background: red;
  color: green;
} */

.searchBox#css_custom_input::placeholder {
    padding-left: 60px;
    padding-bottom: 50px;
}

.submitButton {
    padding: 0 20px;
    margin: 40px;
    width: 180px;
    min-height: 40px;
    border-radius: 2em;
    border: none;
    background-color: #40394A;
    color: white;
    font-weight:bolder ;
}

.addExpence {
    position: absolute;
    right: 30px;
    bottom: 80px;
}

.showSettlement {
    position: fixed;
    height: 40px;
    width: 160px;
    bottom: 85px;
    /* left: 50%; */
    transform: translate(-50%);
    border-radius: 2em;
    border: none;
    background-color: #40394A;
    color: white;
    font-weight:bolder;
    z-index: -1;
}

.closeAddExpence {
    position: absolute;
    right: 8px;
    top: 8px;

}

.addExpenseInput {
    padding: 0 20px;
    margin-bottom: 5px;
    width: 200px;
    height: 40px;
    border-radius: 2em;
    border: none;
    background-color: rgb(245,245,245);
    /* outline: none; */
}


.modal-wrapper {
    top: 100px;
    position: absolute;
    /* border: red solid 3px; */
}

.addExpenceContainer {
    min-height: 60vh;
    max-height: fit-content;
    width: 320px;
    background-color: #CCFFBD;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    z-index: 3;
}

.settlementWindow {
    min-height: 60vh;
    max-height: fit-content;
    width: 320px;
    background-color: #CCFFBD;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    z-index: 3;
    padding: 50px;
}

.settlementContainer {
    max-height: 60vh;
    min-height: 30vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    overflow: auto;
}

.eachSettlement {
    height: 50px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.addExpenceContainer label {
    margin: 10px;
}

.addExpenceForm {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.addBuyersContainer {
    margin: 10px 0;
    min-height: fit-content;
    max-height: 150px;
    width: 100%;
    overflow: auto;
}

.buyer {
    margin: 10px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.multiplierInput {
    width: 40px;
    padding: 0 20px;
    margin-bottom: 5px;
    height: 30px;
    border-radius: 2em;
    border: none;
    background-color: rgb(245,245,245);
}

.menuSelected {
    text-decoration: underline;
    text-decoration-color: #CCFFBD;
    text-decoration-thickness: 7px;
}

.addBuyersContainer .amount {
    position: absolute;
    left: 43%;
}

.menuContainer {
    width: 250px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.allExpencesContainer {
    height: 50vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    overflow: auto;
    z-index: 5;
    /* box-shadow: 0 30px 30px -30px rgba(0, 0, 0, 0.2) inset, 0 -30px 30px -30px rgba(0, 0, 0, 0.2) inset; */
}

.deleteButton {
    padding: 0;
    margin: 10px;
    width: 180px;
    min-height: 40px;
    border-radius: 2em;
    border: none;
    background-color: #40394A;
    color: white;
    font-weight:bolder ;
}

.allExpencesContainer H4 {
    margin: 5px;
}

.title {
    font-weight: 900;
}

.expencesContainer {
    margin: 15px;
}

.subHeadline {
    margin: 20px;
}

.bold {
    font-weight: 900;
}

.homeContainer h3 {
    margin: 10px;
} 

.homeContainer .submitButton {
    padding: 0 20px;
    margin: 20px;
    width: 180px;
    height: 40px;
    border-radius: 2em;
    border: none;
    background-color: #40394A;
    color: white;
    font-weight:bolder ;
}

.showInvitesContainer {
    margin-top: 10px;
    height: 70vh;
    overflow: auto;
}

.accountInfo h3 {
    margin: 20px;
}

.accountInfo {
    width: 300px;
    
}

.textContainer {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: auto;
}

.textContentContainer1 {
    text-align: left;
}

.textContentContainer2 {
    position: absolute;
    left: 125px;
    text-align: left;
}



.margin-top-20 {
    margin-top: 20px;
}

.margin-top-5 {
    margin-top: 5px;
}